[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Django = "*"
mercantile = "*"
geojson = "*"
djangorestframework = "*"
PyYAML = "*"
drf-yasg = "*"
psycopg2 = "*"

[requires]
python_version = "3"
